<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Acerca de Nosotras</h2>
                <p class="lead">Biografía corta del proyecto (por qué, cómo y para qué nació + detalle singular + gota de humor). <a target="_blank" href="http://http://yoga.guiafitness.com//"> Conoce más aquí</a>.</p>
				<div class="col-lg-6 col-xs-12 text-center">
					<div class="portfolio-item">
						<a href="#">
							<%= image_tag "stylish_portfolio/portfolio-2.jpg", class: "img-portfolio img-responsive" %>
                        </a>
                        <hr/>
                        <h3>Lola Perez</h3>
                        <p class="lead">Biografía corta del proyecto (por qué, cómo y para qué nació + detalle singular + gota de humor). <a target="_blank" href="http://http://yoga.guiafitness.com//"> Conoce más aquí</a>.</p>
                    </div>
				</div>
				<div class="col-lg-6 col-xs-12 text-center">
					<div class="portfolio-item">
						<a href="#">
							<%= image_tag "stylish_portfolio/portfolio-2.jpg", class: "img-portfolio img-responsive" %>
                        </a>
                        <hr/>
                        <h3>Lola Perez</h3>
                        <p class="lead">Biografía corta del proyecto (por qué, cómo y para qué nació + detalle singular + gota de humor). <a target="_blank" href="http://http://yoga.guiafitness.com//"> Conoce más aquí</a>.</p>
                    </div>
				</div>
            </div>
        </div>
    </div>
</section>
