.body {
	background-color:#D3D3D3;
}

.center {
    margin: auto;
    width: 500px;
    min-width: 300px;
    border: 3px solid black;
    padding: 10px;
    z-index: 1001;
    position: fixed;
    left: 25%;
    animation-duration: 3s;
    top: -50%;
		background-color: gray;
}

.minwidth {
	min-width: 500px;
}

.movement {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    top: 30% !important;
    box-shadow: 1px 1px 100px;
}

.Servicios {
	display: none;
}
